.loginContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 249, 250);
}

.loginContainer > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 2px 2px 10px 0 rgb(185, 182, 182);
}


button {
    width: 100px;
    align-self: center;
}